<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <title>Сайт о вине</title>
    <link href="https://fonts.googleapis.com/css?family=Marck+Script" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../css/style.css">

</head>
<body>
    <div class="container">
        <header>Винный магазин "Винопьём"</header>
        <nav>
        <ul>
            <li><a href="index.html">Главная</a></li>
            <li><a href="wine-history">История</a></li>
            <li><a href="wine-shop">Магазин</a></li>
            <li><a href="wine-contacts">Контакты</a></li>
            <li><a href="#btn-4">Авторы</a></li>
        </ul>
        </nav>

    </div>

</body>
</html>