<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<title>Сайт о вине</title>
	<link href="https://fonts.googleapis.com/css?family=Marck+Script" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<script src="js/less.js-2.7.1/dist/less.min.js"></script>
</head>

<body>
	<a name="btn-5"></a>
	<div class="container">
		<header>Винный магазин "Винопьём"</header>
		<nav>
			<ul>
				<li><a href="/">Главная</a></li>
				<li><a href="wine-history">История</a></li>
				<li><a href="wine-shop">Магазин</a></li>
				<li><a href="wine-contacts">Контакты</a></li>
				<li><a href="#btn-4">Авторы</a></li>
			</ul>
		</nav>
		<article>
			<div>
				<h1>Вино</h1>
				<div>
					<p>Вино по крепости делится на натуральное (9-16% об.) и креплёное (16-22% об.)</p>
					<p>Креплёное вино - с добавлением спирта и других веществ</p>
					<p>Энология, энолог - наука, изучающая вина</p>
				</div>	

				<h1>Классификация вин</h1>
				<div>
					<p>Вина традиционно производятся из ферментированного сока винограда</p>
					<p>Делятся на столовое вино как вкусовое дополнение к столу и на десертное, когда такое вино подаётся только к десерту.</p>
				</div>

				<h1>Цвет и качество</h1>
				<div>
					<p>Общее разделение винограда на красный и белый</p>
					<p>Белый - цвета от светло-соломенного до янтарного цвета или цвета крепко-заваренного чая. С возрастом приобретает более тёмные тона.</p>
					<p>Красный - от светло-рубиновых до тёмно-гранатовых. Красные с возрастом бледнеют.</p>
				</div>

				<h1>По сорту винограда</h1>
				<div>
					<p>Сортовые вина - один сорт</p>
					<p>Сепажные вина - смесь сортов</p>
					<p>Купажные вина - две или несколько партий виноматериалов</p>
				</div>

				<h1>Деление вина по качеству и сроком:</h1>
				<div>
					<ul>
						<li>Молодые</li>
						<li>Марочные</li>
						<li>Без выдержки</li>
						<li>Выдержанные</li>
						<li>Колекционные</li>
					</ul>
				</div>

				<h1> Содержание спирта и сахара</h1>
				<div>
					<p> Столовые (натуральные)
						<ul>
							<li>Сухие вина</li>
							<li>Полусухое</li>
							<li>Полусладкие</li>
							<li>Сладкие</li>
						</ul>
					</p>
					<p> Специальные (креплёные)
						<ul>
							<li>Крепкие</li>
							<li>Сладкие</li>
							<li>Полудесертные</li>
							<li>Десертные</li>
							<li>Ликёрные</li>
						</ul>
					</p>
					<p> Ароматизированные (спирт 12-16%, сахар 6-16%)</p>
					<p> Игристые вина (вторичное брожение углекислым газом)
						<ul>
							<li>Брют-кюве</li>
							<li>Экстрабрют</li>
							<li>Брют</li>
						</ul>
					</p>
				</div>

				<h1>Виноделие</h1>
				<div>
					<p>Эталоном в производстве вин исторически является Франция.</p>
					<p>Технология производства:</p>
					<p>Использование сульфитов. Диоксид серы - "Голландская спичка". Для приостановления нежедательного брожения. Безопасный антисептик</p>
				</div>

				<h1>Культура употребления вина</h1>
				<div>
					<p>Винный этикет - это правила сервировки вина, также рекомендации по сочетанию вин и блюд.</p>
					<ol>
						<li>Перед едой, для возбуждения аппетита, обычно пьётся аперитив: мадера, херес, вермут;</li>
						<li>Белые столовые вина подаются к закуске, лёгким мясным и рыбным блюдам;</li>
						<li>Натуральные сухие, полусухие и полусладкие вина хорошо сочетаются с овощными блюдами;</li>
						<li>Красное сухое вино подходит к баранине, телятине, дичи, домашней птице, шашлыку, плову, буженине;</li>
						<li>Перед употреблением вина следует насладиться его ароматом;</li>
						<li>Вино не следует пить как воду, следует отпить глоток и секунду подержать вино на задней части языка, дав вкусовым рецепторам полностью ощутить вкус;</li>
						<li>Каждый сорт вина подается при различной температуре: насыщенные танинные красные вина — при комнатной (18—20 градусов); легкие красные вина — около 14—16 градусов; легкие белые вина — около 12—14 градусов; шампанское не стоит охлаждать ниже 6—7 градусов.</li>
					</ol>
				</div>

			</div>
			

		</article>
		<footer>
			<div style="float:left">
				<h1><a name="btn-4"></a>Авторы</h1>
				<p>Автор сайта - начинающий веб-разработчик Денис Тимофеев</p>
				<p>Собственность ООО "ДовольныйАртурДотКом"</p>
			</div>
			<div style="float:right">
				<form action="#btn-5">
					<button type="submit">Наверх</button>
				</form>
			</div>
			<div style="clear:both"></div>
		</footer>
	</div>
</body>

</html>