<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<title>Сайт о вине</title>
	<link href="https://fonts.googleapis.com/css?family=Marck+Script" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<script src="js/less.js-2.7.1/dist/less.min.js"></script>
</head>

<body>
	<a name="btn-5"></a>
	<div class="container">
		<header>Винный магазин "Винопьём"</header>
		<nav>
			<ul>
				<li><a href="/">Главная</a></li>
				<li><a href="wine-history">История</a></li>
				<li><a href="wine-shop">Магазин</a></li>
				<li><a href="wine-contacts">Контакты</a></li>
				<li><a href="#btn-4">Авторы</a></li>
			</ul>
		</nav>
		<article class="contacts">
			
            <h1>Контакты</h1>
				<p>Город Пермь</p>
				<p>Web-студия #SiTE-i.ru Создание сайтов</p>
				<p>Телефон +7 (912) 885 - 33 - 39, Артур</p>
				<p>Техническая поддержка 24/7</p>

			<h1>Услуги</h1>
				<p>Сайты-визитки</p>
				<p>Интернет-магазин</p>
				<p>Корпоративные сайты</p>
				<p>Промо-сайты</p>

		</article>
		<footer>
			<div style="float:left">
				<h1><a name="btn-4"></a>Авторы</h1>
				<p>Автор сайта - начинающий веб-разработчик Денис Тимофеев</p>
				<p>Собственность ООО "ДовольныйАртурДотКом"</p>
			</div>
			<div style="float:right">
				<form action="#btn-5">
					<button type="submit">Наверх</button>
				</form>
			</div>
			<div style="clear:both"></div>
		</footer>
	</div>
</body>

</html>